* {
    box-sizing: border-box;
}

.container {
    height: 300px;
    width: 40%;
    border: 2px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 100px;
    width: 100px;
    border: 2px solid lightblue;
}